.instantMessage-circle {
  position: fixed;
  bottom: 50px;
  right: 80px;
  width: 70px;
  height: 70px;
  background-color: var(--color-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 14;
  transition: 0.5s ease all;
}

.instantMessage-circle:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px 1px var(--color-purple);
}

.instantMessageOpened {
  transform: scale(1.05);
  box-shadow: 0 0 10px 1px var(--color-purple);
}

.instantMessageOpened:hover {
  transform: scale(1.07);
}

.instantMessage-container i {
  color: white;
  font-size: 1.6rem;
}

.instantMessage-message {
  position: absolute;
  bottom: 130px;
  right: 120px;
  width: 400px;
  background-color: var(--color-darkblue-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px 0;
}

.instantMessage-container button {
  border: none;
  outline: none;
  background: transparent;
}

.instantMessage-message input,
.instantMessage-message textarea {
  min-width: 90%;
  margin: 5px;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--color-purple);
  color: white;
  border-radius: 5px;
  padding: 15px;
}

.instantMessage-message input:focus,
.instantMessage-message textarea:focus {
  box-shadow: 0 0 5px 1px var(--color-purple);
}

.instantMessage-message input::placeholder,
.instantMessage-message textarea::placeholder {
  color: var(--color-placeholder-text);
  font-weight: 400;
  font-size: 0.9rem;
}

.instantMessage-sendbutton {
  border: none;
  color: white;
  background-color: var(--color-purple) !important;
  padding: 10px 20px;
  margin: 10px 0 5px;
  font-size: 1rem;
  min-width: 90%;
  border-radius: 50px;
  font-weight: 500;
}

.instantMessage-sendbutton i {
  font-size: 0.9rem;
  margin-left: 5px;
}

.instantMessage-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90%;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 5px 0 15px;
}

.instantMessage-heading button {
  background-color: transparent;
  outline: none;
  border: none;
}

.instantMessage-heading i {
  transition: 0.2s ease all;
  padding: 0 5px;
}

.instantMessage-heading i:hover {
  color: red;
}

@media (max-width: 450px) {
  .instantMessage-circle {
    bottom: 90px;
    right: 15px;
    width: 60px;
    height: 60px;
  }

  .instantMessage-message {
    bottom: 190%;
    right: 50%;
    transform: translate(50%, 0);
    width: 350px;
  }
}
