.topbanner-container {
  height: 90vh;
  background-color: var(--color-darkblue);
  color: white;
  position: relative;
}

.topbanner-title-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.topbanner-heading {
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.topbanner-subheading {
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 20px auto;
  background-color: var(--color-purple);
  color: white;
  padding: 10px 40px;
  max-width: fit-content;
  border-radius: 10px;
}

.topbanner-buttons button {
  background-color: transparent;
  color: white;
  font-weight: 500;
  padding: 15px 30px;
  font-size: 1rem;
  letter-spacing: 1px;
  border: 2px solid var(--color-purple);
  margin-top: 50px;
  border-radius: 60px;
  transition: 0.5s ease all;
  box-shadow: 0 0 10px 1px var(--color-purple);
}

.topbanner-buttons button:hover {
  background-color: var(--color-purple);
  padding: 15px 40px;
  color: white;
}

.topbanner-next-section {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(0, -50%);
  font-size: 2rem;
  transition: 0.3s all ease;
  color: var(--color-muted);
}
